@import "reset.css";

/* sections imports */
@import "sections/header.css";
@import "sections/main.css";
@import "sections/cardapio.css";
@import "sections/sobre-nos.css";
@import "sections/entre-em-contato.css";
@import "sections/footer.css";

/* Font imports */
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

* {
  font-family: "Geist", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--gray-text);
}

:root {
  --background: #ffffff;
  --light-gray-text: #6b7280;
  --gray-text: #555555;
  --dark-gray-text: #374151;
  --green-text: #00693b;

  --green-background: #00693b;
  --green-background-hover: #008349;
  --lighter-gray-background: #f9f9f9;
  --light-gray-background: #f5f5f5;

  --light-gray-border: #e4e4e4;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  line-height: 1.5rem;

  padding: 0 1.5rem;
}
